#notFound {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--bg);

  .content {
    padding-top: 20vh;
    padding-left: 30%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    @media (max-width: 1024px) {
      & {
        padding-left: 20%;
      }
    }

    @media (max-width: 640px) {
      & {
        padding-left: 0;
        align-self: center;
      }
    }

    .message {
      span {
        font-size: 3rem;

        @media (max-width: 640px) {
          font-size: 2.4rem;
        }

        @media (max-width: 490px) {
          font-size: 2rem;
        }

        @media (max-width: 370px) {
          font-size: 1.5rem;
        }
      }
    }

    .statusSpace {
      display: flex;
      align-items: center;
      margin-top: -3rem;

      span {
        font-size: 10rem;
      }

      svg {
        width: 10rem;
        height: 10rem;
        color: var(--error);
      }

      @media (max-width: 640px) {
        & {
          margin-top: -2rem;

          span {
            font-size: 9rem;
          }

          svg {
            width: 9rem;
            height: 9rem;
          }
        }
      }

      @media (max-width: 490px) {
        & {
          span {
            font-size: 8rem;
          }

          svg {
            width: 8rem;
            height: 8rem;
          }
        }
      }

      @media (max-width: 370px) {
        & {
          span {
            font-size: 6rem;
          }

          svg {
            width: 6rem;
            height: 6rem;
          }
        }
      }
    }

    .typeError {
      margin-top: -2rem;

      p {
        font-size: 1.5rem;

        @media (max-width: 640px) {
          & {
            font-size: 1.25rem;
          }
        }

      }

      @media (max-width: 490px) {
        & {
          margin-top: -1.5rem;

          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
