div#home > .header {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  z-index: 10;
}

div#home > .header > .social-network li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

div#home > .header > .social-network a {
  height: 45px;
  width: 45px;
  margin-right: 20px;
  border-radius: 22.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#home > .header > .social-network a svg {
  color: #808080;
}

div#home > .header > .social-network a:hover svg {
  color: #1C1C1C;
}

div#home hr {
  border: 0;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(120, 120, 120, 0),
    rgba(120, 120, 120, 0),
    rgba(120, 120, 120, 0.75)
  );
}

div#home .my-name {
  height: 75px;
  display: flex;
  align-items: center;
}

div#home .my-name > span {
  color: #FFF;
  background-color: #1C1C1C;
  padding: 2px 5px;
  font-weight: 800;
  font-size: 2.5rem;
  border-radius: 8px;
  margin-left: 10vw;
}

div#home > .content {
  height: 200vh;
}
