div#home > .header {
  height: 90px;
  background-color: var(--bg-header);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 5px var(--header-shadow);
  z-index: 10;
}

div#home > .header > .social-network {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div#home > .header > .social-network .switch-container {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

div#home > .header > .social-network .switch {
  margin-right: 10px;
}
div#home > .header > .social-network li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

div#home > .header > .social-network a {
  height: 45px;
  width: 45px;
  margin-right: 20px;
  border-radius: 22.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#home > .header > .social-network a svg {
  color: var(--social-network-color);
  transition: color 0.3s linear 0.05s;
}

div#home > .header > .social-network a.github:hover svg {
  color: var(--social-network-color-github);
}

div#home > .header > .social-network a.linkedin:hover svg {
  color: var(--social-network-color-linkedin);
}

div#home > .header > .social-network a.mail:hover svg {
  color: var(--social-network-color-mail);
}

div#home hr {
  border: 0;
  width: 100%;
  height: 1px;
  background-image: var(--gradient-header)
}

div#home > .content {
  height: 200vh;
}
