div#home .header {
  background-color: var(--bg-header);
  display: flex;
  flex-direction: column;
  box-shadow: 0rem 0.3rem 0.3rem var(--header-shadow);
  z-index: 10;
}

div#home .header section.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div#home .header section.header-top .switch-container {
  margin-left: 1.25rem;
  display: flex;
  align-items: center;
}

div#home .header section.header-top .switch {
  margin-right: 0.6rem;
}

div#home .header section.header-top .switch .react-switch-bg div {
  display: flex;
  justify-content: center;
  align-items: center;
}

div#home .header section.header-top .switch .react-switch-bg span {
  font-size: 1.4rem;
}

div#home .header section.header-top .social-network li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

div#home .header section.header-top .social-network a {
  height: 2.8rem;
  width: 2.8rem;
  margin-right: 1.25rem;
  border-radius: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#home .header .social-network a svg {
  color: var(--social-network-color);
  transition: color 0.3s linear 0.05s;
}

div#home .header .social-network a.github:hover svg {
  color: var(--social-network-color-github);
}

div#home .header .social-network a.linkedin:hover svg {
  color: var(--social-network-color-linkedin);
}

div#home .header .social-network a.mail:hover svg {
  color: var(--social-network-color-mail);
}

div#home hr {
  border: 0;
  width: 100%;
  height: 0.06rem;
  background-image: var(--gradient-header)
}

div#home .header section.header-bottom {
  height: 2.8rem;
}

div#home .content {
  height: 200vh;
}
