#header {
  background-color: var(--bg-header);
  display: flex;
  flex-direction: column;
  box-shadow: 0rem 0.3rem 0.3rem var(--header-shadow);
  z-index: 10;
  transition: background-color 0.2s linear;
}

#header section.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header section.header-top .switch-container {
  margin-left: 1.25rem;
  display: flex;
  align-items: center;
}

#header section.header-top .switch {
  margin-right: 0.6rem;
}

#header section.header-top .switch .react-switch-bg div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header section.header-top .switch .react-switch-bg span {
  font-size: 1.4rem;
}

#header section.header-top .social-network li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

#header section.header-top .social-network a {
  height: 2.8rem;
  width: 2.8rem;
  margin-right: 1.25rem;
  border-radius: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .social-network a svg {
  height: 2rem;
  width: 2rem;
  color: var(--social-network-color);
  transition: color 0.3s linear 0.05s;
}

#header .social-network a.github:hover svg {
  color: var(--social-network-color-github);
}

#header .social-network a.linkedin:hover svg {
  color: var(--social-network-color-linkedin);
}

#header .social-network a.mail:hover svg {
  color: var(--social-network-color-mail);
}

#header hr {
  border: 0;
  width: 100%;
  height: 0.06rem;
  background-image: var(--gradient-header)
}

#header section.header-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#header section.header-bottom .router-link {
  margin-right: 20%;
}

#header section.header-bottom .router-link ul {
  display: flex;
  flex-direction: row;
}

#header section.header-bottom .router-link li {
  list-style-type: none;
}

#header section.header-bottom .router-link li:not(:last-child) {
  margin-right: 2.2rem;
}

#header section.header-bottom .router-link a {
  color: var(--social-network-color);
  text-decoration: none;
  transition: color 0.2s linear;
}

#header section.header-bottom .router-link a:hover {
  color: var(--text-color);
}

#header section.header-bottom .router-link a.selected {
  color: var(--text-color);
}

#header section.header-bottom .router-link a .link-content {
  position: relative;
  height: 2.8rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#header section.header-bottom .router-link a .link-content .selected {
  position: absolute;
  bottom: 0;
  height: 0.25rem;
  width: 100%;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  background-color: var(--link-selected-color);
}

#header section.header-bottom .router-link a:hover .link-selected {
  position: absolute;
  bottom: 0;
  height: 0.25rem;
  width: 100%;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  background-color: var(--link-selected-color);
}
