#header {
  height: 3.5rem;
  background-color: var(--bg-header);
  display: flex;
  flex-direction: row;
  box-shadow: 0rem 0.3rem 0.3rem var(--header-shadow);
  z-index: 10;
  transition: background-color 0.2s linear;
  justify-content: space-between;
}

#header section.header-left {
  display: flex;
  align-items: center;
  width: 20%;
}

#header section.header-left .switch-container {
  margin-left: 1.4rem;
}

#header .menu-container {
  display: none;
}

#header section.header-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

#header .router-link ul {
  display: flex;
}

#header .router-link li {
  list-style-type: none;
}

#header .router-link li:not(:last-child) {
  margin-right: 2.2rem;
}

#header .router-link a {
  color: var(--social-network-color);
  text-decoration: none;
  transition: color 0.2s linear;
}

#header .router-link a:hover {
  color: var(--text-color);
}

#header .router-link a.selected {
  color: var(--text-color);
}

#header .router-link a .link-content {
  position: relative;
  height: 3.5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .router-link a .link-content .selected {
  position: absolute;
  bottom: 0;
  height: 0.25rem;
  width: 100%;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  background-color: var(--link-selected-color);
}


#header section.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 20%;
}

#header .social-network ul {
  display: flex;
}

#header .social-network li {
  list-style-type: none;
}

#header .social-network a {
  height: 2.8rem;
  width: 2.8rem;
  margin-right: 1.25rem;
  border-radius: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .social-network a svg {
  height: 2rem;
  width: 2rem;
  color: var(--social-network-color);
  transition: color 0.3s linear 0.05s;
}

#header .social-network a.github:hover svg {
  color: var(--social-network-color-github);
}

#header .social-network a.linkedin:hover svg {
  color: var(--social-network-color-linkedin);
}

#header .social-network a.mail:hover svg {
  color: var(--social-network-color-mail);
}

@media (max-width: 1024px) {
  #header .router-link a .link-content {
    width: 6rem;
  }

  #header .router-link .link-content span {
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  #header .router-link {
    margin-right: 10%;
  }

  #header section.header-right {
    width: 0%;
  }

  #header section.header-left {
    width: 10%;
  }

  #header .social-network {
    display: none;
  }

  #header .switch-container {
    display: none;
  }

  #header .menu-container {
    display: unset;
  }
}
