:root {
  --bg: #FAFAFA;
  --bg-header: #FFFFFF;
  --text-color: #010101;
  --social-network-color: #808080;
  --social-network-color-github: #211F1F;
  --social-network-color-linkedin: #0E76A8;
  --social-network-color-mail: #BB001B;
  --gradient-header: linear-gradient(
    to right,
    #78787800,
    #78787800,
    #787878BF
  );
  --header-shadow: #0000000D;
  --link-selected-color: #145CAD;
}

.dark-mode:root {
  --bg: #181818;
  --bg-header: #202020;
  --text-color: #FFFFFF;
  --social-network-color: #909090;
  --social-network-color-github: #EEEEEE;
  --social-network-color-linkedin: #0E76A8;
  --social-network-color-mail: #BB001B;
  --gradient-header: linear-gradient(
    to right,
    #AAAAAA00,
    #AAAAAA00,
    #AAAAAABF
  );
  --header-shadow: #0000000D;
  --link-selected-color: #0e6892;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background-color: var(--bg);
  transition: background-color 0.2s linear;
}

body, input, textarea, button {
  font: 600 1rem Nunito, sans-serif;
}
