:root {
  --bg: #FAFAFA;
  --bg-header: #FFFFFF;
  --text-color: #010101;
  --social-network-color: #808080;
  --social-network-color-github: #211F1F;
  --social-network-color-linkedin: #0E76A8;
  --social-network-color-mail: #BB001B;
  --gradient-header: linear-gradient(
    to right,
    #78787800,
    #78787800,
    #787878BF
  );
  --header-shadow: #0003;
  --link-selected-color: #145CAD;
  --scrollbar-bg-thumb: #787878BF;
  --scrollbar-bg-thumb-hover: #525252BF;
  --hover-button: #F9F9F9;
  --active-button: #EBEBEB;
  --nav-bg: #f6f6f6;
}

.dark-mode:root {
  --bg: #181818;
  --bg-header: #202020;
  --text-color: #FFFFFF;
  --social-network-color: #909090;
  --social-network-color-github: #EEEEEE;
  --social-network-color-linkedin: #0E76A8;
  --social-network-color-mail: #BB001B;
  --gradient-header: linear-gradient(
    to right,
    #AAAAAA00,
    #AAAAAA00,
    #AAAAAABF
  );
  --header-shadow: #0000000D;
  --link-selected-color: #0e6892;
  --scrollbar-bg-thumb: #AAAAAABF;
  --scrollbar-bg-thumb-hover: #cacacabf;
  --hover-button: #242424;
  --active-button: #363636;
  --nav-bg: #1b1b1b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background-color: var(--bg);
  transition: background-color 0.2s linear;
}

body, input, textarea, button {
  font: 600 1rem Nunito, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-bg-thumb);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-bg-thumb-hover);
}
